.search-wrapper {
   position: relative;
}

.search-wrapper .icon {
   position: absolute;
   right: 0px;
   top: 3px;
   cursor: pointer;
   font-size: 20px !important;
   opacity: 50%;
}

/* .form-input.variant-1 input,
.form-input.variant-1 select,
.form-input.variant-1 textarea {
   padding: 4.5px 8px;
   border-radius: var(--inner-radius);
   border: 1px solid var(--black);
   display: block;
   width: 100%;
   margin-top: 3px;
} */