.receipt * {
   font-family: "Chakra Petch", sans-serif;
}

.receipt hr {
   opacity: 1;
}

.receipt {
   max-width: 700px;
   margin: auto;
   margin-top: 20px;
}

.receipt table {
   width: 100%;
}

.receipt thead {
   border-top: 1px solid black;
   border-bottom: 1px solid black;
}

.receipt th {
   padding: 5px 0px;
}

.receipt td {
   padding: 5px 0px;
}

.receipt .amount-in-words {
   text-transform: capitalize;
}