.billing-container .items-wrapper {
   min-height: calc(100vh - 40px);
   position: relative;
}

.billing-container .items-entry {
   position: absolute;
   width: 100%;
   height: 45px;
   bottom: 0px;
   right: 0px;
   /* background: #EDEEEF; */
}

.billing-container table {
   width: 100%;
}

.billing-container th {
   background: var(--tertiary-color);
}

.billing-container th,
.billing-container td {
   padding: 10px;
   border-bottom: 1px solid #ccc;
}

.billing-container .image-wrapper {
   width: 80px;
   height: 60px;
}

.billing-container th:nth-child(1),
.billing-container td:nth-child(1) {
   width: 10%;
}

.billing-container th:nth-child(2),
.billing-container td:nth-child(2) {
   width: 25%;
}

.billing-container th:nth-child(3),
.billing-container td:nth-child(3) {
   width: 20%;
}

.billing-container th:nth-child(4),
.billing-container td:nth-child(4) {
   width: 20%;
}

.billing-container th:nth-child(5),
.billing-container td:nth-child(4) {
   width: 20%;
}

.billing-container th:nth-child(6),
.billing-container td:nth-child(6) {
   width: 10%;
}

.billing-container th:nth-child(1),
.billing-container td:nth-child(1) {
   width: auto;
}

.billing-container table label {
   display: none;
}

.billing-container .items-entry td {
   padding-top: 0px;
   padding-bottom: 0px;
}

.billing-container .items-wrapper {
   position: relative;
}

.billing-container .items-entry {
   position: absolute;
   width: 100%;
   bottom: 0;
   right: 0;
   left: 0;
}

.billing-container .discount-input .form-input {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.billing-container .discount-input .form-input input {
   width: 80px;
}

.billing-container .discount-input label {
   flex-shrink: 0;
}

.billing-container .total-flex p:nth-child(2) {
   padding: 5px 10px;
   width: 80px;
   /* background: green; */
}

.billing-container .extra-info label {
   font-weight: bold;
}

.billing-container .extra-info textarea {
   max-height: 120px !important;
   outline: none;
}

.billing-container .receipt-container {
   opacity: 0;
   height: 0px;
   overflow: hidden;
}